* {
    box-sizing: border-box;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.mod_tab {
    margin-top: 20px;
}

.title {
    color: #666;
}

.panel {
    /* display: none; */
    display: block;
}

.products_ct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 702px;
    border: 1px solid #eee;
    /*方法一：products_ct设高度，每添加一次，增加一次Product的高度和margin，20px
    height: 442px;*/
}

.product {
    position: relative;
    width: 220px;
    padding: 10px 20px;
    border: 1px solid #eee;
    /*方法二：products_ct不设高度，Product设margin-top,前三个li不设margin-top*/
    margin-top: 20px;
}


/*方法二：products_ct不设高度，Product设margin-top,前三个li不设margin-top*/

.product:nth-child(1),
.product:nth-child(2),
.product:nth-child(3) {
    margin-top: 0;
}

.product .cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.product .cover.active {
    display: block;
}

.product .cover .getmore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    border: 1px solid #c81623;
    border-radius: 3px;
    text-align: center;
    color: #c81623;
    background: #fff;
}

.product .content {
    text-align: left;
}

.product .content .introduction {
    height: 36px;
    color: #666;
}

.product .content .price {
    color: #c81623;
}

#loadMore {
    display: inline-block;
    background: #fff;
    color: #c81623;
    border: 1px solid #c81623;
    border-radius: 3px;
    padding: 10px 15px;
    margin-top: 20px;
}